{% extends "templates/photologue/gallery_archive.html" %}

{% block title %}Gallery{% endblock %}

{% block breadcrumb_title %}Gallery{% endblock %}

{% block content %}
<div id="main">
    <!-- Main Content start-->
    <div class="content">
        <div class="container">

            {% if latest %}
                {% for gallery in latest %}
                <div class="photo-gallery">
                    <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
                    {% for photo in gallery.sample %}
                    <div class="gallery-photo">
                        <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            {% else %}
                <p>No galleries were found.</p>
            {% endif %}

            <p><a href="{% url 'pl-gallery-list' 1 %}">View all galleries.</a></p>
        </div>
    </div>
</div>
{% endblock %}
