{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block breadcrumb_title %}About{% endblock %}

{% block content %}
    <div id="main">
        <div class="content">
            <div class="container">

                <!-- About AuroraAlarm Project -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">About AuroraAlarm Project</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <br>
                    </div>
                </div>

                <!-- How AuroraAlarm Works -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">How AuroraAlarm Works</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <br>
                    </div>
                </div>

                <!-- Technology Stack and Architecture -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">Technology Stack and Architecture</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <br>
                    </div>
                </div>


                <!-- Our Team-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h3 class="title">Our Team</h3>
                        <div class="row team">
                            <!-- item 1 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                                <div class="team-member">
                                    <div class="team-member-holder">
                                        <div class="team-member-image">
                                            <img alt="" src="{{ STATIC_URL }}img/team/team-member.jpg">
                                            <div class="team-member-links">
                                                <div class="team-member-links-list">
                                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
                                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
                                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-member-meta">
                                            <h4 class="team-member-name">Nejc Zupec</h4>
                                            <div class="team-member-role">Software developer</div>
                                            <div class="team-member-description">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End -->

                            <!-- item 2 -->
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                                <div class="team-member">
                                    <div class="team-member-holder">
                                        <div class="team-member-image">
                                            <img alt="" src="{{ STATIC_URL }}img/team/team-member.jpg">
                                            <div class="team-member-links">
                                                <div class="team-member-links-list">
                                                    <a target="_blank" class="facebook team-member-links-item" href="#"><i class="icon-facebook"></i></a>
                                                    <a target="_blank" class="twitter team-member-links-item" href="#"><i class="icon-twitter"></i></a>
                                                    <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="icon-linkedin"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-member-meta">
                                            <h4 class="team-member-name">Prisca Bonnet</h4>
                                            <div class="team-member-role">Software developer</div>
                                            <div class="team-member-description">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
