{% extends 'base.html' %}

{% block title %}Auroral Activity in Europe{% endblock %}

{% block breadcrumb_title %}Auroral Activity{% endblock %}

{% block content %}
    <div id="main">
        <!-- Main Content start-->
        <div class="content">
            <div class="container">

                <!-- Auroral activity history and forecast -->
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Auroral activity history and forecast</h3>
                            <div class="post-content">
                                <div id="auroral-activity-chart-container" style="width:100%; height:400px;"></div>
                                <br>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </p>
                            </div>
                        </article>
                    </div>
                </div>

                <!-- Auroral activity levels -->
                <div class="row">
                    <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <h3 class="title">Auroral activity levels</h3>
                            <div class="post-content">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                </p>

                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Level</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Lorem</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Lorem</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Lorem</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Lorem</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Lorem</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content end-->
    </div>
{% endblock %}
