{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>AuroraAlarm</title>
        <meta name="description" content="AuroraAlarm">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Library CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fonts/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/animations.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/superfish.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/revolution-slider/css/settings.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/graph.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/team-member.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/social-buttons/zocial.css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/onoffswitch.css" media="screen">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        <!-- Skin -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/colors/blue.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/theme-responsive.css">
        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/ico/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/ico/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}img/ico/apple-touch-icon-144.png">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{{ STATIC_URL }}js/respond.min.js"></script>
        <![endif]-->
        <!--[if IE]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css">
        <![endif]-->

        // global variables for JavaScript
        <script>
            var API_URL = {{ API_URL }};
        </script>
    </head>

    <body class="boxed">
        <div class="wrap">
            <!-- Header Start -->
            {% include 'header.html' %}

            <!-- Title, Breadcrumb Start-->
            {% block breadcrumb %}
                <div class="breadcrumb-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                <h2 class="title">{% block title %}{% endblock %}</h2>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                <div class="breadcrumbs pull-right">
                                    <ul>
                                        <li>You are here:</li>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li>{% block breadcrumb_title %}{% endblock %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <!-- Content Block -->
            {% block content %}{% endblock %}

            <!-- Footer Start -->
            {% include 'footer.html' %}

            <!-- Scroll To Top -->
            <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
        </div>

        <!-- The Scripts -->
        {% include 'scripts.html' %}

        <!-- Additional Scripts -->
        {% block add_script %}{% endblock %}
    </body>
</html>