{% load current_tag %}

<header id="header">
    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <!-- TopNav End -->

            <!-- Mobile Menu Start -->
            <div class="mobile navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                    <i class="icon-reorder icon-2x"></i>
                </a>
            </div>
            <!-- Mobile Menu End -->

            <!-- Menu Start -->
            <nav class="collapse navbar-collapse menu">
                <ul class="nav navbar-nav sf-menu">
                    {% if not user.username %}
                        <li class="pull-right">
                            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="">{{ user.username }}
                                <span class="sf-sub-indicator">
                                    <i class="icon-angle-down "></i>
                                </span>
                            </a>
                            <ul>
                                <li><a href="" class="sf-with-ul">Dashboard</a></li>
                                <li><a href="{% url 'logout' %}" class="sf-with-ul">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav sf-menu pull-right">
                    <li>
                        <a id="{% current request 'home' %}" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a id="{% current request 'alarms' %}" href="{% url 'alarms' %}" class="sf-with-ul">Alarms</a>
                    </li>
                    <li>
                        <a id="{% current request 'gallery' %}" href="{% url 'gallery' %}" class="sf-with-ul">Gallery</a>
                    </li>
                    <li>
                        <a id="{% current request 'map' %}" href="{% url 'map' %}" class="sf-with-ul">Map</a>
                    </li>
                    <li>
                        <a id="{% current request 'about' %}" href="{% url 'about' %}" class="sf-with-ul">About</a>
                    </li>
                </ul>
            </nav>
            <!-- Menu End -->
        </div>
    </div>
    <!-- Main Header End -->
</header>