<header id="header">
    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <!-- TopNav End -->

            <!-- Mobile Menu Start -->
            <div class="mobile navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                    <i class="icon-reorder icon-2x"></i>
                </a>
            </div>
            <!-- Mobile Menu End -->

            <!-- Menu Start -->
            <nav class="collapse navbar-collapse menu">
                <ul class="nav navbar-nav sf-menu">
                    <li>
                        <a id="current" href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">Alarms</a>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">Gallery</a>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">Map</a>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">About</a>
                    </li>
                </ul>
            </nav>
            <!-- Menu End -->
        </div>
    </div>
    <!-- Main Header End -->
</header>