{% load current_tag %}

<header id="header">
    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">
            <!-- TopNav Start -->
            <div class="topnav navbar-header">
                <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                <i class="icon-angle-down icon-current"></i>
                </a>
            </div>
            <!-- TopNav End -->

            <!-- Mobile Menu Start -->
            <div class="mobile navbar-header">
                <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
                    <i class="icon-reorder icon-2x"></i>
                </a>
            </div>
            <!-- Mobile Menu End -->

            <!-- Menu Start -->
            <nav class="collapse navbar-collapse menu">
                <ul class="nav navbar-nav sf-menu">
                    {% if not user.username %}
                        <li>
                            <a data-toggle="modal" data-target="#login-modal">Login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="">
                                <i class="icon-user"></i>&nbsp;
                                {{ user.username }}
                                <span class="sf-sub-indicator">
                                    <i class="icon-angle-down "></i>
                                </span>
                            </a>
                            <ul>
                                <li><a href="" class="sf-with-ul">Dashboard</a></li>
                                <li><a href="{% url 'logout' %}" class="sf-with-ul">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav sf-menu pull-right">
                    <li>
                        <a id="{% current request 'home' %}" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a id="{% current request 'auroral_activity' %}" href="{% url 'auroral_activity' %}" class="sf-with-ul">Auroral Activity</a>
                    </li>
                    <li>
                        <a id="{% current request 'alarms' %}" href="{% url 'alarms' %}" class="sf-with-ul">Alarms</a>
                    </li>
                    <li>
                        <a id="{% current request '/photo/' True %}"  href="{% url 'pl-photo-list' 1 %}" class="sf-with-ul">Gallery</a>
                    </li>
                    <li>
                        <a id="{% current request 'map' %}" href="{% url 'map' %}" class="sf-with-ul">Map</a>
                    </li>
                    <li>
                        <a id="{% current request 'about' %}" href="{% url 'about' %}" class="sf-with-ul">About</a>
                    </li>
                </ul>
            </nav>
            <!-- Menu End -->
        </div>
    </div>
    <!-- Main Header End -->
</header>

<!-- Login modal window -->
<div id="login-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>

            <div class="modal-body">
                <p>If you want to access AuroraAlarm user related pages, you have to authenticate yourself.
                    Currently we support two <a target="_blank" href="http://oauth.net/2/">OAuth2</a>
                    authentication providers:</p>

                <ul>
                    <li class="pagination-centered">
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.get_full_path }}"
                           class="zocial googleplus">Sign in with Google+</a>
                    </li>
                    <li class="pagination-centered">
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.get_full_path }}"
                           class="zocial facebook">Sign in with Facebook</a>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
