{% extends 'base.html' %}

{% block content %}
    <!-- Content Start -->
    <div id="main">
        <!-- Slider Start-->
        <div class="fullwidthbanner-container">
           <div class="fullwidthbanner rslider">
              <ul>
                 <!-- THE FIRST SLIDE -->
                 <li data-delay="6000" data-masterspeed="300" data-transition="fade">
                    <div class="slotholder"><img src="static/img/slider/aurora4.png" data-fullwidthcentering="on" alt="Pixma"></div>
                    <div class="caption h1 lft tp-caption start"
                       data-x="40"
                       data-y="25"
                       data-speed="700"
                       data-endspeed="800"
                       data-start="500"
                       data-easing="easeOutQuint"
                       data-endeasing="easeOutQuint">
                       <h3>AuroraAlarm</h3>
                    </div>
                    <div class="caption list_slide lfb tp-caption start"
                       data-easing="easeOutExpo"
                       data-start="1400"
                       data-speed="1050"
                       data-y="90"
                       data-x="40">
                       <div class="list-slide">
                          <i class="icon-bell-alt slide-icon"></i>
                          <h5 class="">Never miss Aurora near you</h5>
                       </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start"
                       data-easing="easeOutExpo"
                       data-start="1800"
                       data-speed="1200"
                       data-y="130"
                       data-x="40">
                       <div class="list-slide">
                          <i class="icon-picture slide-icon"></i>
                          <h5 class="">Share Aurora pictures with a community</h5>
                       </div>
                    </div>
                    <div class="caption list_slide lfb tp-caption start"
                       data-easing="easeOutExpo"
                       data-start="2200"
                       data-speed="1350"
                       data-y="170"
                       data-x="40">
                       <div class="list-slide">
                          <i class="icon-user slide-icon"></i>
                          <h5 class="">Sign up for Aurora activity notifications</h5>
                       </div>
                    </div>
                    <div class="caption lfb caption_button_1 fadeout tp-caption start"
                       data-x="40"
                       data-y="220"
                       data-speed="900"
                       data-endspeed="300"
                       data-start="2700"
                       data-hoffset="-70"
                       data-easing="easeOutExpo">
                       <a class="btn-special hidden-xs btn-grey" href="#">Start Here</a>
                    </div>
                 </li>
              </ul>
           </div>
        </div>
        <!-- Slider End-->

        <!-- Main Content start-->
        <div class="main-content">
           <div class="container">
              <div class="row">
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-bell-alt"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-bell-alt"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h3>Alarms</h3>
                          <p>
                             Setup AuroraAlarm notifications and never miss Aurora activity near you.
                          </p>
                          <!--<a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>-->
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-picture"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-picture"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h3>Gallery</h3>
                          <p>
                             Take Aurora images and share them with our community.
                          </p>
                          <!--<a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>-->
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item">
                       <div class="ch-info-wrap">
                          <div class="ch-info">
                             <div class="ch-info-front ch-img-1"><i class="icon-map-marker"></i></div>
                             <div class="ch-info-back">
                                <i class="icon-map-marker"></i>
                             </div>
                          </div>
                       </div>
                       <div class="content-box-info">
                          <h3>Map</h3>
                          <p>
                             Pin your photos on the map and check where you can see the nicest Aurora.
                          </p>
                          <!--<a href="#">Read More <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a>-->
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- Main Content end-->

        <!-- Latest Posts start -->
        <div class="latest-posts">
           <div class="container">
              <div class="row">
                 <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                    <h3 class="title">Latest Aurora Images</h3>
                 </div>
                 <div class="clearfix"></div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
                    <ul>
                       <li>
                          <div class="blog-showcase-thumb col-lg-4">
                             <div class="post-body">
                                <a class="post-item-link" href="static/img/slider/aurora4.png" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="static/img/slider/aurora4.png"></a>
                             </div>
                          </div>
                       </li>
                       <li>
                          <div class="blog-showcase-thumb col-lg-4">
                             <div class="post-body">
                                <a class="post-item-link" href="static/img/slider/aurora2.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="static/img/slider/aurora2.jpg"></a>
                             </div>
                          </div>
                       </li>
                       <li class="blog-first-el">
                          <div class="blog-showcase-thumb col-lg-4">
                             <div class="post-body">
                                <a class="post-item-link" href="static/img/slider/aurora3.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="static/img/slider/aurora3.jpg"></a>
                             </div>
                          </div>
                       </li>
                    </ul>
                    <div class="clearfix"></div>
                 </div>
              </div>
              <div class="divider"></div>
           </div>
        </div>
        <!-- Latest Posts End -->

    </div>
    <!-- Content End -->
{% endblock %}

