<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/jquery.parallax.js"></script>
<script src="static/js/modernizr-2.6.2.min.js"></script>
<script src="static/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="static/js/jquery.nivo.slider.pack.js"></script>
<script src="static/js/jquery.prettyPhoto.js"></script>
<script src="static/js/superfish.js"></script>
<script src="static/js/tweetMachine.js"></script>
<script src="static/js/tytabs.js"></script>
<script src="static/js/jquery.gmap.min.js"></script>
<script src="static/js/circularnav.js"></script>
<script src="static/js/jquery.sticky.js"></script>
<script src="static/js/jflickrfeed.js"></script>
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<script src="static/js/waypoints.min.js"></script>
<script src="static/js/custom.js"></script>